.btn-calc {
  background-color: #374352;
  color: #C7CACE;
  padding: 2em;
  font-size: 1.5rem;
  border: 1px solid #3A4655;
}

.btn-calc:hover {
  background-color: #34404e;
  color: #edf0f4;
  cursor: pointer;
}

.noselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.btn-red,
.btn-red:hover {
  color: #F86554;
}

.btn-white,
.btn-white:hover {
  color: #EEF6F8;
}

.btn-pale,
.btn-pale:hover {
  color: #6B7582;
}

@media (max-width: 170px) {
  .btn-calc {
    padding: 1.2em .4em 1.2em .4em;
    font-size: .7rem;
  }
}

@media (min-width: 170px) and (max-width: 310px) {
  .btn-calc {
    padding: .6em;
    font-size: 1rem;
  }
}

/*Extra small*/
@media (min-width: 310px) and (max-width: 576px) {
  .btn-calc {
    padding: 1.0em;
    font-size: 1.5rem;
  }
}

/*Small*/
@media (min-width: 576px) and (max-width: 768px) {
  .btn-calc {
    padding: 1.2em;
    font-size: 1.5rem;
  }
}

/*Medium*/
@media (min-width: 768px) and (max-width: 992px) {
  .btn-calc {
    padding: 1.6em 1.8em 1.6em 1.8em;
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) and (min-height: 720px) {
  .btn-calc {
    padding: 2em;
    font-size: 1.5rem;
  }
}

/*Large*/
@media (min-width: 992px) and (max-width: 1200px) {
  .btn-calc {
    padding: 1.6em .8em 1.6em 1.8em;
    font-size: 1.5rem;
  }
}

/*Extra large*/
@media (min-width: 1200px) and (max-height: 720px) {
  .btn-calc {
    padding: 1.6em .8em 1.6em 1.8em;
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1200px) and (min-height: 720px) {
  .btn-calc {
    padding: 2em;
    font-size: 1.5rem;
  }
}

/*Extra large*/
@media (min-width: 1200px) and (max-height: 720px) and (min-height: 720px) {
  .btn-calc {
    padding: 2em;
    font-size: 1.5rem;
  }
}

@media (min-height: 720px) and (min-width: 500px) {
  .btn-calc {
    padding: 1.4em;
  }
}
